{% extends "rest_framework/api.html" %}

{% load i18n %}
{% load static %}

{% block content %}
<div ng-app="modelserver">
    <div ng-controller="CategoryController">
        <h2> Categories </h2>
        <div class="nav nav-pills" role="tablist">
            {% verbatim %}
            <li role="presentation" ng-repeat="category in categories">
                <a href="#" ng-click="get_assets_under_category(assets, category)">{{ category.name }}</a>
            </li>
            {% endverbatim %}
            <li role="presentation">
                <a href="#">+</a>
            </li>
        </div>
        <h2> AssetBundles</h2>
        <div class="col-lg-4" ng-repeat="asset in assets">
            {% verbatim %}
            <img class="img-circle" src="{{ asset.thumbnail }}"
                 alt="Cannot load thumbnail URL from database"
                 width="128" height="128">
            <h3>{{ asset.name }}</h3>
            <p>{{ asset.description }}</p>
            {% endverbatim %}
        </div>
    </div>

    <script src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'js/modelserver.categorycontroller.js' %}"></script>
</div>

{% endblock %}