{% extends "rest_framework/api.html" %}

{% load i18n %}
{% load static %}

{% block content %}
<div ng-app="modelserver">
    <div ng-controller="CategoryController">
        <h3> 素材分类 </h3>
        <div class="nav nav-pills" role="tablist">
            {% verbatim %}
            <li role="presentation" ng-repeat="category in categories">
                <a href="#" ng-click="get_assets_under_category(assets, category)">{{ category.name }}</a>
            </li>
            {% endverbatim %}
            <a href="#" class="btn btn-primary my-2">新增</a>
            <!--a href="#" class="btn btn-primary my-2">删除</a-->
        </div>
        <h3> 资源预览 </h3>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card md-4 shadow-sm" ng-repeat="asset in assets">
                            {% verbatim %}
                            <img class="card-img-top"
                                 src="{{asset.thumbnail}}"
                                 alt="Cannot load thumbnail URL from database"
                                 width="128" height="128">
                            <div class="card-body">
                                <p class="card-text">{{ asset.name }}</p>
                                <p class="card-text">{{ asset.description }}</p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">编辑</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">删除</button>
                                </div>
                            </div>
                            {% endverbatim %}
                        </div>
                        <div class="card md-4 shadow-sm">
                            <img class="card-img-top"
                                 src="http://40.74.234.56:3001/thumbnail/Arm%20Chair.png"
                                 alt="Cannot load thumbnail URL from database"
                                 width="128" height="128">
                            <div class="card-body">
                                <p class="card-text"></p>
                                <p class="card-text"></p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">新增</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'js/modelserver.categorycontroller.js' %}"></script>
</div>

{% endblock %}