<div class="logout">
    <button ng-click="logout()">Logout</button>
</div>
<div class="list" ng-repeat="category in data.categories">
    <button ng-click="showFilters=!showFilters">
        {{ category.name }}
    </button>
    <ul>
        <li ng-repeat="card in list.cards | filter:filterBy | orderBy:sortBy:reverse">
            <scrumboard-card></scrumboard-card>
        </li>
    </ul>
    <div class="flex">
        <input type="text" ng-model="new_title">
        <button ng-click="add(list, new_title)">Search</button>
    </div>
</div>
